/Snake/Snake/obj
/Snake/SnakeConsole/obj
*.info
/Snake/SnakeConsole/obj
Snake/SnakeConsole/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
Snake/SnakeConsole/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
*.targets
Snake/SnakeConsole/obj/SnakeConsole.csproj.nuget.g.props
/Snake/SnakeConsole/obj
Snake/Snake/bin/Debug/net9.0/Snake.deps.json
/Snake/Snake/bin
/Snake/SnakeConsole/bin/Debug
/Snake/SnakeConsole/obj/Debug
/Snake/SnakeConsole/obj
/Snake/SnakeConsole/obj/Debug/net9.0
*.cache
/Snake/SnakeConsole/obj
/Snake/SnakeConsole
/Snake/SnakeConsole/obj
